@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 200;
    background-color: #000000;
}

.conteneur {
    font-family: 'Space Grotesk', sans-serif;
    width: 80%;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --primary-ad-color: #f1c530;
    --black-ad-color: #000000;
    --white-ad-color: #ffffff;
}

.brand-mobile {
    display: none;
}


/* Design Navigation */

#header-top nav {
    background-color: var(--black-ad-color);
    padding: 15px 0;
}

#header-top nav .navigbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top nav .brand img,
footer .brand img {
    padding-left: 20px;
}

#header-top nav .brand img:nth-child(2),
footer .brand img:nth-child(2) {
    padding-bottom: 15px;
}

#header-top nav .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top nav .menu ul li {
    margin-left: 70px;
    font-size: 20px;
}

#header-top nav .menu ul li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--white-ad-color);
}


/* Hero Design */

#batslide {
    background-color: #000000;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

#hero div {
    color: var(--white-ad-color);
}

#lesbatman .titre,
.titre {
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: medium;
    position: relative;
    right: 40%;
    display: none;
}

#hero .description {
    font-weight: lighter;
    font-size: 1.2em;
    text-align: center;
}

#hero .box {
    position: relative;
}

footer {
    background-color: var(--black-ad-color);
    padding: 20px 0;
    margin-top: 30%;
}

.footer {
    color: var(--white-ad-color);
    text-align: center;
    font-size: 13px;
}

.navigation-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

footer .media {
    padding: 15px;
    margin-bottom: 10px;
}

.footer-icones {
    background-color: var(--black-ad-color);
    color: var(--white-ad-color);
    padding: 5px;
    border-radius: 50%;
}

footer .media img {
    background-color: var(--black-ad-color);
    color: var(--white-ad-color);
    padding: 5px;
    border-radius: 50%;
}

footer .copyright {
    padding: 10px;
}


/*index css*/

:root {
    --primary-ad-color: #b11313;
    --black-ad-color: #000000;
    --white-ad-color: #ffffff;
    --blue-color: #114c92;
    --btn-color: to right #EDDEBF, #19587D;
}

.arrow {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

#hero {
    background-image: url("../img/Bathome1.png");
    background-color: var(--black-ad-color);
    height: 870px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.box {
    padding-top: 7%;
}

.titre {
    margin-bottom: 50px;
}

#lesbatman,
#lesvillains {
    background-color: var(--black-ad-color);
    padding-top: 10%;
}

#lesbatman h1,
#lesvillains h1 {
    font-size: 35px;
}

.cta {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.button1 {
    border: none;
    border-radius: 0;
    color: var(--btn-color);
    padding: 15px 30px;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
}

.cta .button2 {
    color: var(--white-ad-color);
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
    border: none;
    border-radius: 0;
    padding: 15px 30px;
}

.card-text {
    text-align: justify;
}

.card-unique ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
    margin: 0;
}

.card-unique:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

h1 {
    font-family: 'Rajdhani';
    font-size: 35px;
    margin-bottom: 30px;
}

input[type=submit] {
    border: none;
    width: 200px;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4), rgba(137, 0, 8, 0.6));
    padding: 10px 20px;
}

#newsletter {
    padding: 20px 0px;
    padding-left: 300px;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
}

.newsletter-formulaire {
    margin-top: 70px;
}

.newsletter-formulaire input[type=text],
.newsletter-formulaire input[type=email] {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 1000px;
    margin-bottom: 30px;
    padding: 5px 10px;
    background-color: #ffffff00;
    border-color: white;
}

.formselect {
    width: 20px;
}

::placeholder {
    color: white;
}

h2 {
    color: #000000;
    text-align: center;
}

.video {
    text-align: center;
    background-color: #000000;
    padding: 30px 0px;
}

.cite {
    padding-top: 10%;
}

.para1 {
    font-size: 2rem;
}

.para2 {
    font-size: 1.3rem;
    color: grey;
    padding-top: 3%;
}

#slider {
    position: relative;
    width: 1900px;
    height: 500px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

#slider img {
    width: 2200px;
    height: 700px;
    margin-top: 213px;
    margin-bottom: -213px;
}


/* Mobile */

@media screen and (max-width: 768px) {
    nav .menu {
        display: none;
    }
    #hero .titre {
        font-family: 'Rajdhani';
        font-size: 5em;
        font-weight: 100;
    }
    #hero .description {
        font-weight: bold;
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    .conteneur {
        width: 90%;
        margin: 0 auto;
    }
    #header-top {
        display: none;
    }
    .brand-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20%;
    }
    #hero .titre {
        font-family: 'Rajdhani';
        font-size: 2em;
        font-weight: 100;
    }
    #hero .description {
        font-weight: bold;
        font-size: 0.7em;
    }
    /* Footer mobile*/
    .navigation-footer {
        display: block;
    }
    footer .copyright {
        font-size: 10px;
    }
}